$cosmo
  epsilon=   80.100
  rsolv= 1.30
$reaction_field
   econv=  1.0000E-06
   qmaxconv=  1.0000E-05
   qrmsconv=  1.0000E-06
$cosmo_atoms
# radii in Angstrom units
h  1-2                                                                         \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$cosmo_correlated
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1-2                                                                         \
   basis =h def2-TZVP                                                          \
   cbas  =h def2-TZVP                                                          \
   jkbas =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$scfiterlimit      100
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$rundimensions
   natoms=2
   nbf(CAO)=12
   nbf(AO)=12
$last SCF energy change = -1.1328746
$charge from ridft
          0.000 (not to be modified here)
$denconv     0.10000000E-06
$freeze
 implicit core=    0 virt=    0
$cbas    file=auxbasis
$ricc2
    mp2
$closed shells
 a       1                                      ( 2 )
$energy    file=energy
$grad    file=gradient
$ricore      500
$rij
$jkbas    file=auxbasis
$rik
$last step     ricc2
$orbital_max_rnorm 0.42138109162531E-06
$subenergy  Etot         E1                  Ej                Ex                 En
-1.132874593457    -2.497700524331     1.312105322315    -.6560526611577    0.7087732697165
$dipole from ridft
  x    -0.00000648733004    y     0.00000388914836    z    -0.00000296770258    a.u.
   | dipole | =    0.0000206522  debye
$last MP2 energy change= -.27713777E-01
$end
