$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-TZVP                                                          \
   cbas  =o def2-TZVP                                                          \
   jkbas =o def2-TZVP
s  2                                                                           \
   basis =s def2-TZVP                                                          \
   cbas  =s def2-TZVP                                                          \
   jkbas =s def2-TZVP
c  3-4                                                                         \
   basis =c def2-TZVP                                                          \
   cbas  =c def2-TZVP                                                          \
   jkbas =c def2-TZVP
h  5-10                                                                        \
   basis =h def2-TZVP                                                          \
   cbas  =h def2-TZVP                                                          \
   jkbas =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-21                                   ( 2 )
$scfiterlimit      100
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore      500
$rij
$jkbas    file=auxbasis
$rik
$denconv     0.10000000E-06
$freeze
 implicit core=    8 virt=    0
$cbas    file=auxbasis
$ricc2
    mp2
$rundimensions
   natoms=10
   nbf(CAO)=186
   nbf(AO)=166
$last step     ricc2
$last SCF energy change = 0.20497353E-01
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00000001256962    y     0.13735120281289    z     1.82463668129949    a.u.
   | dipole | =    4.6509202934  debye
$last MP2 energy change= -.43160156E-02
$orbital_max_rnorm 0.10775319011561E-04
$subenergy  Etot         E1                  Ej                Ex                 En
-551.6548287984    -1126.298626290     435.6240189641    -45.86342794209     184.8832064692
$end
