$cosmo
  epsilon=   80.100
  rsolv= 1.30
$reaction_field
   econv=  1.0000E-06
   qmaxconv=  1.0000E-05
   qrmsconv=  1.0000E-06
$cosmo_atoms
# radii in Angstrom units
o  1                                                                           \
   radius=  1.7200
h  2-3                                                                         \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$cosmo_correlated
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
o  1                                                                           \
   basis =o def2-TZVP                                                          \
   cbas  =o def2-TZVP                                                          \
   jkbas =o def2-TZVP
h  2-3                                                                         \
   basis =h def2-TZVP                                                          \
   cbas  =h def2-TZVP                                                          \
   jkbas =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-5                                    ( 2 )
$scfiterlimit      100
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore      500
$rij
$jkbas    file=auxbasis
$rik
$denconv     0.10000000E-06
$freeze
 implicit core=    1 virt=    0
$cbas    file=auxbasis
$ricc2
    mp2
$rundimensions
   natoms=3
   nbf(CAO)=48
   nbf(AO)=43
$last step     ricc2
$orbital_max_rnorm 0.13558889122923E-04
$last SCF energy change = -76.071708
$subenergy  Etot         E1                  Ej                Ex                 En
-76.07170802863    -123.0584007322     46.78936061731    -8.948128509265     9.145460595566
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.00001569689167    y     0.99457798792518    z    -0.00002762134698    a.u.
   | dipole | =    2.5279841971  debye
$last MP2 energy change= -.25396821
$end
