$reaction_field
   econv=  1.0000E-06
   qmaxconv=  1.0000E-05
   qrmsconv=  1.0000E-06
$cosmo_atoms
# radii in Angstrom units
n  1,16,25                                                                     \
   radius=  1.8300
c  2-6,11-15,20-24                                                             \
   radius=  2.0000
h  7-10,17-19,26-29                                                            \
   radius=  1.3000
$cosmo_out file=terpy.cosmo
$cosmo_data file=cosmo_transfer.tmp
$title
$symmetry cs
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
n  1,16,25                                                                     \
   basis =n def-TZVP                                                           \
   jbas  =n def-TZVP
c  2-6,11-15,20-24                                                             \
   basis =c def-TZVP                                                           \
   jbas  =c def-TZVP
h  7-10,17-19,26-29                                                            \
   basis =h def-TZVP                                                           \
   jbas  =h def-TZVP
$basis    file=basis
$scfmo   file=mos
$scfiterlimit      100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$ricore      500
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=29
   nbf(CAO)=426
   nbf(AO)=408
$last SCF energy change = 0.12749672E-01
$charge from ridft
          0.000 (not to be modified here)
$closed shells
 a'      1-52                                   ( 2 )
 a"      1-9                                    ( 2 )
$energy    file=energy
$grad    file=gradient
$dft
    functional   b-p
    gridsize   m4
$scfconv   7
$last step     ridft
$xctype GGA (not to be modified here)
$dipole from ridft
  x     0.70519760680348    y    -0.40695460548718    z     0.00000000000000    a.u.
   | dipole | =    2.0694963692  debye
$orbital_max_rnorm 0.12754319552880E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-742.7524547040    -3263.332975846     1488.876225113    -102.0100720535    -4.489290791330     1138.203658874
$end
