$reaction_field
   econv=  1.0000E-06
   qmaxconv=  1.0000E-05
   qrmsconv=  1.0000E-06
$cosmo_atoms
# radii in Angstrom units
h  1-2                                                                         \
   radius=  1.3000
$cosmo_out file=H2.cosmo
$cosmo_data file=cosmo_transfer.tmp
$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
h  1-2                                                                         \
   basis =h def-TZVP                                                           \
   jbas  =h def-TZVP
$basis    file=basis
$scfmo   file=mos
$scfiterlimit      100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$ricore      500
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=2
   nbf(CAO)=12
   nbf(AO)=12
$last SCF energy change = 0.34652286E-03
$charge from ridft
         -0.000 (not to be modified here)
$closed shells
 a       1                                      ( 2 )
$energy    file=energy
$grad    file=gradient
$fldopt
 1st derivative off
 2nd derivative off
 edelt =   0.5000E-02
 fields off
 geofield off
$dft
    functional   b-p
    gridsize   m4
$scfconv   7
$last step     ridft
$xctype GGA (not to be modified here)
$dipole from ridft
  x    -0.00000028144928    y     0.00000009943319    z    -0.00000054909706    a.u.
   | dipole | =    0.0000015886  debye
$orbital_max_rnorm 0.87384553816172E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1.177433024051    -2.496234980167     1.311354499968    -.6548531290470    -.4647268452130E-010.7087732697165
$end
